*{
    font-family: 'Poppins', sans-serif;
}

ion-toolbar{
    --background-color: transparent;
    --ion-color-base: transparent !important;
   
}

ion-header{
    --background-color: transparent;
    --ion-color-base: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-title{
    --color: #0B1D39;
    text-align: center;
   padding: 0px;
   font-weight: 700;
   font-size: 15px;
   margin-right: 50px;
}


ion-back-button{
    color: #0B1D39;
}