

<ion-content>
    <app-header></app-header>
    <div style="min-height: 760px;" class="bg-register">
   
    </div>
    <form class="login-form">
        <label>Username:</label>
        <input type="text" name="username">
      
        <label>Password:</label>
        <input type="password" name="password">
      
      
      </form>
    
</ion-content>
<ion-footer>
            <div class="ion-padding">
                <div class="buttons">
                <ion-button expand="block" type="submit" class="ion-no-margin" size="large" mode="ios" style="--background:linear-gradient(90deg, rgba(223,240,215,1) 5%, rgba(25,213,221,1) 63%, rgba(25,213,221,1) 83%); color: #0b1d39ad;">Siguiente</ion-button>

            </div>
              </div>
  </ion-footer>