*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.bg{
  height: 310px;
  width: 100%;
  background-image: url(/assets/img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
}

.content{
  padding: 25px 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: url(/assets/img/bg_sec.png);
  position: relative;
}

.slogan{
  color: #ffff;
  font-weight: 600;
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

.txt{
  color: #ffff;
  padding: 0px 10px 0px 10px  ;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  height: 200px;
}

.btn-start{
position: absolute;
background: rgb(223,240,215);
background: linear-gradient(360deg, rgba(223,240,215,1) 5%, rgba(25,213,221,1) 63%, rgba(25,213,221,1) 83%);
width: 84px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
top: 0;
right: 0;
margin-top: 250px;
margin-right: 15px;
height: 84px;
}


.btn-start a{
  text-decoration: none;
  color: #0B1D39;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}

